[Unit]
Description=Utility Stack (Portainer)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ utility_stack.base_path }}
#ReadWritePaths={{ utility_stack.base_path }}
ExecStart=/usr/bin/docker compose up -d
ExecStop=/usr/bin/docker compose down
ExecReload=/usr/bin/docker compose restart
TimeoutStartSec=0

User=media
Group=docker

[Install]
WantedBy=multi-user.target
