---
networks:
  {{ media_stack.network_name }}:
    driver: bridge

services:
{% if services.jellyfin.enabled %}
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:{{ services.jellyfin.version }}
    container_name: jellyfin
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/jellyfin:/config
      - {{ media_stack.media_path }}/movies:/data/movies:ro
      - {{ media_stack.media_path }}/tv:/data/tvshows:ro
      - {{ media_stack.media_path }}/music:/data/music:ro
    ports:
      - "{{ services.jellyfin.port }}:8096"
      - 8920:8920 
      - 7359:7359/udp
      - 1900:1900/udp
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.jellyseerr.enabled %}
  jellyseerr:
    image: fallenbagel/jellyseerr:{{ services.jellyseerr.version }}
    container_name: jellyseerr
    restart: unless-stopped
    environment:
      - LOG_LEVEL=info
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/jellyseerr:/app/config
    ports:
      - "{{ services.jellyseerr.port }}:5055"
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.qbittorrent.enabled %}
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:{{ services.qbittorrent.version }}
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
      - WEBUI_PORT={{ services.qbittorrent.port }}
    volumes:
      - {{ media_stack.config_path }}/qbittorrent:/config
      - {{ media_stack.downloads_path }}:/downloads
    ports:
      - "{{ services.qbittorrent.port }}:{{ services.qbittorrent.port }}"
      - "{{ services.qbittorrent.peer_port }}:{{ services.qbittorrent.peer_port }}"
      - "{{ services.qbittorrent.peer_port }}:{{ services.qbittorrent.peer_port }}/udp"
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.prowlarr.enabled %}
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:{{ services.prowlarr.version }}
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/prowlarr:/config
    ports:
      - "{{ services.prowlarr.port }}:9696"
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.sonarr.enabled %}
  sonarr:
    image: lscr.io/linuxserver/sonarr:{{ services.sonarr.version }}
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/sonarr:/config
      - {{ media_stack.media_path }}/tv:/tv
      - {{ media_stack.downloads_path }}:/downloads
    ports:
      - "{{ services.sonarr.port }}:8989"
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.radarr.enabled %}
  radarr:
    image: lscr.io/linuxserver/radarr:{{ services.radarr.version }}
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/radarr:/config
      - {{ media_stack.media_path }}/movies:/movies
      - {{ media_stack.downloads_path }}:/downloads
    ports:
      - "{{ services.radarr.port }}:7878"
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.bazarr.enabled %}
  bazarr:
    image: lscr.io/linuxserver/bazarr:{{ services.bazarr.version }}
    container_name: bazarr
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/bazarr:/config
      - {{ media_stack.media_path }}/movies:/movies
      - {{ media_stack.media_path }}/tv:/tv
    ports:
      - "{{ services.bazarr.port }}:6767"
    networks:
      - {{ media_stack.network_name }}
{% endif %}


{% if services.lidarr.enabled %}
  lidarr:
    image: lscr.io/linuxserver/lidarr:{{ services.lidarr.version }}
    container_name: lidarr
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/lidarr:/config
      - {{ media_stack.media_path }}/music:/music
      - {{ media_stack.downloads_path}}:/downloads
    ports:
      - "{{ services.lidarr.port }}:8686"
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.releasarr.enabled %}
  releasarr:
    image: makario1337/releasarr:{{ services.releasarr.version }}
    container_name: releasarr
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/releasarr:/config
      - {{ media_stack.data_path}}/releasarr/Library:/library
      - {{ media_stack.data_path}}/releasarr/logs:/logs
    ports:
      - "{{ services.releasarr.port }}:1337"
    networks:
      - {{ media_stack.network_name }}
{% endif %}


{% if services.suggestarr.enabled %}
  suggestarr:
    image: ciuse99/suggestarr:{{ services.suggestarr.version }}
    container_name: suggestarr
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/suggestarr:/app/config/config_files
    ports:
      - "{{ services.suggestarr.port }}:5000"
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.huntarr.enabled %}
  huntarr:
    image: huntarr/huntarr:{{ services.huntarr.version }}
    container_name: huntarr
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/huntarr:/config
    ports:
      - "{{ services.huntarr.port }}:9705"
    networks:
      - {{ media_stack.network_name }}
{% endif %}

{% if services.kavita.enabled %}
  kavita:
    image: lscr.io/linuxserver/kavita:{{ services.kavita.version }}
    container_name: kavita
    restart: unless-stopped
    environment:
      - PUID={{ media_stack.user_id }}
      - PGID={{ media_stack.group_id }}
      - TZ={{ media_stack.timezone }}
    volumes:
      - {{ media_stack.config_path }}/kavita:/config
      - {{ media_stack.data_path }}/kavita:/data
    ports:
      - "{{ services.kavita.port }}:5000"
    networks:
      - {{ media_stack.network_name }}
{% endif %}
