---
api:
  dashboard: {{ proxy_services.traefik.dashboard.enabled | default('true') }}
  debug: {{ proxy_services.traefik.debug | default('true') }}

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"

serversTransport:
  insecureSkipVerify: {{ proxy_services.traefik.insecure_skip_verify | default('true') }}

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /config.yml

certificatesResolvers:
  {{ proxy_services.traefik.cert_resolver | default('cloudflare') }}:
    acme:
      email: {{ proxy_services.traefik.acme.email }}
      storage: /acme.json
      caServer: {{ proxy_services.traefik.acme.server | default('https://acme-v02.api.letsencrypt.org/directory') }}
      dnsChallenge:
        provider: {{ proxy_services.traefik.dns.provider | default('cloudflare') }}
{% if proxy_services.traefik.dns.disable_propagation_check | default(false) %}
        disablePropagationCheck: true
{% endif %}
{% if proxy_services.traefik.dns.delay_before_check is defined %}
        delayBeforeCheck: {{ proxy_services.traefik.dns.delay_before_check }}
{% endif %}
        resolvers:
{% for resolver in proxy_services.traefik.dns.resolvers | default(['1.1.1.1:53', '1.0.0.1:53']) %}
          - "{{ resolver }}"
{% endfor %}
