etcd:
  image: quay.io/coreos/etcd:{{ services.etcd.version }}
  container_name: {{ services.etcd.name }}
  restart: unless-stopped
  ports:
    - "2379:2379"
    - "2380:2380"
  environment:
    - ETCD_NAME={{ services.etcd.name }}
    - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ services.etcd.host_ip }}:2380
    - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
    - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    - ETCD_ADVERTISE_CLIENT_URLS=http://{{ services.etcd.host_ip }}:2379
    - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
    - ETCD_INITIAL_CLUSTER={{ services.etcd.cluster_ips }}
    - ETCD_INITIAL_CLUSTER_STATE=new
    - ETCD_DATA_DIR=/etcd-data
  volumes:
    - {{  stack_config.data_path }}/etcd:/etcd-data
{% if services.etcd.networks is defined %}
  networks:
{% for network in services.etcd.networks %}
    - {{ network }}
{% endfor %}
{% endif %}

