jellyseerr:
  image: fallenbagel/jellyseerr:{{ services.jellyseerr.version }}
  container_name: jellyseerr
  restart: unless-stopped
  environment:
    - PUID={{ stack_config.user_id }}
    - PGID={{ stack_config.group_id }}
    - LOG_LEVEL=info
    - TZ={{ stack_config.timezone }}
  volumes:
    - {{ stack_config.config_path }}/jellyseerr:/app/config
  ports:
    - "{{ services.jellyseerr.port }}:5055"
{% if services.jellyseerr.traefik.enabled | default(false) %}
  labels:
    - traefik.enable=true
    - traefik.http.routers.jellyseerr.rule=Host(`{{ services.jellyseerr.traefik.host }}.{{ services.jellyseerr.traefik.domain }}`)
    - traefik.http.routers.jellyseerr.entrypoints=https
    - traefik.http.routers.jellyseerr.tls=true
    - traefik.http.routers.jellyseerr-http.rule=Host(`{{ services.jellyseerr.traefik.host }}.{{ services.jellyseerr.traefik.domain }}`)
    - traefik.http.routers.jellyseerr-http.entrypoints=http
    - traefik.http.routers.jellyseerr-http.middlewares=redirect-to-https
    - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
    - traefik.http.services.jellyseerr.loadbalancer.server.port=5055
    - traefik.http.services.jellyseerr.loadbalancer.server.scheme=http
{% endif %}
{% if services.jellyseerr.networks is defined %}
  networks:
{% for network in services.jellyseerr.networks %}
    - {{ network }}
{% endfor %}
{% endif %}

{% if services.jellyseerr.dnss is defined %}
  dns:
{% for dns in services.jellyseerr.dnss %}
    - {{ dns }}
{% endfor %}
{% endif %}


