promtail:
  image: grafana/promtail:{{ services.promtail.version }}
  container_name: promtail
  restart: unless-stopped
  command: -config.file=/etc/promtail/config.yml
  volumes:
    - {{ stack_config.config_path }}/promtail/config.yml:/etc/promtail/config.yml:ro
    - /var/log:/var/log:ro
    - /var/lib/docker/containers:/var/lib/docker/containers:ro
    - /run/docker.sock:/run/docker.sock:ro
{% if services.promtail.networks is defined %}
  networks:
{% for network in services.promtail.networks %}
    - {{ network }}
{% endfor %}
{% endif %}
